
<div class="banner" style="background-image: url(<%= asset_path("happy-gilmore-carl-weathers-adam-sandler.avif") %>)">
  <h1>Welcome to Watch list</h1>
  </div>
<div class="container mt-3">
  <div class="cards">
    <% @lists.each do |list| %>
      <%= link_to list_path(list) do  %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://image.pollinations.ai/prompt/<%= list.name %>-movie);">
          <%= list.name %>
        </div>
      <% end %>
    <% end %>
    <%= link_to "new lists", new_list_path %>
  </div>
</div>
